body {
    font-family: "Poppins",
        sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

img {
    display: block;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

/* #region header */
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    flex-grow: 1;
    margin-right: 73px;
    justify-content: space-between;
}

.logo-header {
    font-weight: 700;
    font-size: 30px;
    display: flex;
    gap: 16px;
    align-items: center;
    /* line-height: 28px; */
    line-height: 0.93333;
    color: #173a56;
}

.header-nav-list {
    display: flex;
    gap: 30px;
}

.header-nav-list-item {}

.header-nav-list-link {
    font-weight: 400;
    font-size: 16px;
    padding: 26px 0;
    display: block;
    /* line-height: 28px; */
    line-height: 1.75;
    color: #22343d;
}

.current {
    font-weight: 600;
}

.header-btn-list {
    display: flex;
    gap: 21px;
}

.header-btn-list-item {}

.header-btn-list-sign-in {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    background: #fff;

}

.header-btn-list-sign-up {
    border-radius: 4px;
    width: 113px;
    height: 42px;
    background: #02897a;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.header-btn-list-sign-in:hover,
.header-btn-list-sign-in:focus {
    background: #02897a;
    color: #fff;
}

.header-btn-list-sign-up:hover,
.header-btn-list-sign-up:focus {
    background: #fff;
    border: 1px solid #bcd0e5;
    color: #173a56;
}

/* #endregion header */

/* #region hero */


.hero {
    padding-top: 25px;
}

.hero .container {
    display: flex;
    gap: 35px;
    align-items: center;
}

.hero-title {
    font-weight: 700;
    font-size: 40px;
    max-width: 382px;
    /* line-height: 60px; */
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 18px;
}

.hero-title-descr {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 45px;
    /* line-height: 28px; */
    line-height: 1.55556;
    color: #22343d;
}

.hero-btn-list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero-btn-list-item {}

.hero-btn-get {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background: #02897a;
    border-radius: 4px;
    width: 178px;
    height: 53px;
}

.hero-btn-watch {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    width: 164px;
    height: 23px;
    background: #fff;
}

/* #endregion hero*/

/* #region specifically */
.specifically {
    padding: 50px 0;
}

.specifically-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    max-width: 500px;
    margin: 0 auto 50px;
}

.specifically-list {
    display: flex;
    gap: 30px;
}

.specifically-list-item {
    width: calc((100% - 90px) / 4);
}

.icon-box {
    width: 54px;
    height: 54px;
    border-radius: 19px;
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon-box:hover,
.icon-box:focus {

    cursor: pointer;

}

.green {
    background: #02897a;
}

.blue {
    background: #4d8dff;
}

.fiolet {
    background: #740a76;
}

.red {
    background: #f03e3d;
}

.icons-specifically {
    fill: #fff;
}

.specifically-item-subtitle {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-bottom: 13px;
}

.specifically-item-descr {
    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

.specifically-btn {
    width: 175px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background: #02897a;
    border-radius: 4px;
    margin: 50px auto 0;
    display: block;


}

.specifically-btn:hover,
.specifically-btn:focus {
    color: #173a56;
    border: 1px solid #bcd0e5;
    border-radius: 50%;
    background-color: #fff;

}

/* #endregion specifically*/

/* #region managament */
.management {
    padding-top: 91px;
    padding-bottom: 50px;
}

.management .container {
    display: flex;
    align-items: center;
    gap: 84px;
}

.managament-main-text {}

.management-subtitle {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
}

.management-title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
}

.management-title-descr {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

.management-list {}

.management-list-item {}

.management-item-title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 12px;
    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

.management-item-subtitle {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

.management-list-item:not(:last-child) {
    margin-bottom: 25px;

}

/* #endregion managament*/
/* #region customer */

.customer {
    padding: 50px 0;
}

.customer-wrap {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 94px;
}

.customer-main-text {}

.customer-subtitle {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    margin-bottom: 8px;
}

.customer-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 25px;
}

.customer-title-descr {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

.customer-list {}

.customer-list-item {
    display: flex;
    gap: 30px;
}

.customer-list-item:not(:last-child) {
    margin-bottom: 25px;
}

.customer-item-wrap {
    width: 35px;
    height: 35px;
    border: 2.92px solid #fff;
    border-radius: 14px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange-wrap {
    background-color: #FF9900;
}

.red-wrap {
    background-color: #F03E3D;
}

.blue-wrap {
    background-color: #4D8DFF;
}

.customer-item-icon {
    fill: #fff;
}

.customer-item-descr {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

/* #endregion customer*/

/* #region collaborative */
.collaborative {
    padding: 50px 0 75px;
}

.collaborative-wrap {
    display: flex;
    align-items: center;
    gap: 84px;
}

.collaborative-main-text {}

.collaborative-subtitle {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    margin-bottom: 8px;
}

.collaborative-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 25px;
}

.collaborative-title-descr {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 30px;
}

.collaborative-list {}

.collaborative-list-item:not(:last-child) {
    margin-bottom: 25px;
}

.collaborative-item-title {
    font-weight: 600;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 12px;
}

.collaborative-item-descr {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}


/* #endregion collaborative*/

/* #region process */
.process {
    padding-top: 150px;
    padding-bottom: 100px;
}

.process .container {
    width: 956px;
}

.process-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 25px;
}

.process-descr {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 40px;
    /* line-height: 26px; */
    line-height: 1.625;
    text-align: center;
    color: #22343d;
    max-width: 542px;
    margin: 0 auto;
}

.process-list {
    display: flex;
    gap: 31px 100px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.process-list-item {
    display: flex;
    align-items: center;
    gap: 19px;
    width: calc((100% - 100px) / 2);
}

.process-list-item:nth-child(2),
.process-list-item:nth-child(3) {
    flex-direction: row-reverse;
}

.process-item-descr {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    border-radius: 25px;
    padding: 14px 20px 12px 19px;
    width: 281px;
}

.process-btn {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background: #02897a;
    border-radius: 4px;
    width: 216px;
    height: 53px;
    display: block;
    margin: 0 auto;
}

/* #endregion process*/
/* #region strategy*/

.strategy {
    padding: 50px 0 150px;
}

.container {}

.strategy-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    margin-bottom: 10px;
}

.strategy-title-descr {
    font-weight: 500;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 40px;
}

.strategy-list {
    display: flex;
    gap: 30px;
}

.strategy-list-item {
    border-radius: 8px;
    width: calc((100% - 60px) / 3);
    border: 1px solid #dedede;
}

.strategy-item-author {
    padding: 24px 27px 40px;
}

.strategy-author {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 28px; */
    line-height: 1.75;
    color: #22343d;
    margin-bottom: 12px;
}

.mind {
    color: #02897a;
}

.author {
    font-weight: 700;
}

.strategy-item-descr {}

/* #endregion strategy*/
/* #region  pricing*/



.pricing {
    padding: 21px 0 50px;
}



.price-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    text-align: center;
    margin-bottom: 10px;
}

.price-title-descr {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #22343d;
    text-align: center;
    margin-bottom: 40px;
}

.price-list {
    display: flex;
    gap: 72px;
}

.price-item {
    border-radius: 8px;
    width: 322px;
    height: 456px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    width: calc((100% - 72px * 2)/3);
    padding: 32px 71px;

}

.price-item:nth-child(2) {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background: #02897a;
}





.price-item-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #22343d;
    /* line-height: 40px; */
    line-height: 1.66667;

}


.price-item-title-descr {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #22343d;
    /* line-height: 40px; */
    line-height: 2.5;
    color: #22343d;
}

.price-number {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 76px;
    color: #02897a;
    /* line-height: 100px; */
    line-height: 1.31579;
    letter-spacing: 0em;
    text-align: center;

}

.priscing-wrap {
    display: flex;
    gap: 10px;
    align-items: center;
}

.price-valute {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #02897a;
    /* line-height: 30px; */
    line-height: 1.25;
    letter-spacing: 0em;
    margin-bottom: 4px;

}

.price-period {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #22343d;
    /* line-height: 19px; */
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #e0e0e0;
}

.price-list-points {}

.price-points-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;

    /* line-height: 22px; */
    line-height: 1.375;
    letter-spacing: 0.01em;

}


.item-operations,
.item-notifications,
.item-landing {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;

    /* line-height: 22px; */
    line-height: 1.375;
    letter-spacing: 0.01em;
    color: #22343d;
}

.standart {
    color: #fff;
}

.price-btn {
    border-radius: 8px;
    width: 139px;
    height: 44px;
    background: #02897a;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.price-btn:hover,
.price-btn:focus {
    color: #02897a;
    background: #fff;
    border: 2px dashed #02897a;

}

.standart-btn {
    color: #02897a;
    background: #fff;
}



/* #endregion pricing */

/* #region clients */
.clients {
    padding: 50px 50px;
}

.clients-title {
    font-weight: 700;
    font-size: 32px;

    text-align: center;
    /* line-height: 57px; */
    line-height: 1.78125;
    letter-spacing: 0.01em;
    color: #22343d;
    margin-bottom: 10px;
}

.clients-title-descr {
    font-weight: 500;
    font-size: 16px;
    max-width: 537px;
    margin: 0 auto;
    margin-bottom: 40px;
    /* line-height: 28px; */
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
}

.clients-list {
    display: flex;
    gap: 64px;
}

.clients-item {
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 28px 26px;
    width: calc((100% - 64px * 2) / 3);

}

.clients-list-stars {
    gap: 4px;
    display: flex;
    margin-bottom: 16px;
}

.clienta-item-stars {
    fill: #F3CD03;
}

.clients-item-descr {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    /* line-height: 28px; */
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
}

.clients-item-name {
    font-weight: 600;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.clins-item-prof {
    font-weight: 500;
    font-size: 14px;

    /* line-height: 24px; */
    line-height: 1.71429;
    letter-spacing: 0.01em;
    color: #252b42;
}

.clients-item-wrap {
    display: flex;
    gap: 14px;
}

.clients-item-text {}




/* #endregion clients*/

/* #region promo */
.promo {
    padding: 50px 50px;

}


.promo .container {
    display: flex;
    gap: 15px;
    align-items: center;
    border-radius: 32px;
    padding: 0 35px 0 51px;
    width: 968px;
    height: 345px;
    background: #02897a;
}

.promo-wrap {}

.promo-descr {
    font-weight: 600;
    font-size: 32px;

    /* line-height: 48px; */
    line-height: 1.514;
    color: #fff;
    margin-bottom: 56px;
}

.promo-btn {
    border-radius: 8px;
    width: 150px;
    height: 50px;
    background: #fff;
    font-weight: 600;
    font-size: 20px;
    color: #22343d;
}

/* #endregion promo*/

/* #region footer */

.footer {}

.container {}

.logo-header {}

.footer-container {}

.footer-resourses {}

.footer-resourses-list {}

.footer-resourses-item {}

.footer-resourses-link {}

.footer-stuff {}

.footer-stuff-list {}

.footer-stuff-item {}

.footer-stuff-link {}

.footer-form-title {}

.footer-form {}

/* #endregion footer*/

/* #region contact us resourse page */
.maps {
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
}

.form-container {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 52px 50px;
    width: 868px;
    height: 670px;
    margin: 0 auto;
}

.form-title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    /* line-height: 33px; */
    line-height: 1.375;
    letter-spacing: 0em;
    color: #252b42;
}

.contact-form {}

.contact-form-area {
    margin-bottom: 45px;
}

.contact-form-input {
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    border-radius: 39px;
    padding: 19px 20px;
    width: 100%;
    outline: none;
    color: #22343d;
}

.contact-form-input:focus {
    border: 1px solid #02897a;
}

.contact-form-input::placeholder {
    font-weight: 400;
    font-size: 15px;

    /* line-height: 16px; */
    line-height: 1.06667;
    letter-spacing: 0.01em;
    color: #22343d;
}

.contact-form-comment {
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    padding: 23px 20px;
    width: 100%;
    resize: none;
    height: 193px;
    outline: none;

}

.contact-form-comment:focus {
    border: 1px solid #02897a;
}

.contact-form-btn {
    border-radius: 35px;
    padding: 18px 38px;
    width: 145px;
    height: 52px;
    background: #02897a;
    font-weight: 500;
    font-size: 16px;

    /* line-height: 16px; */
    line-height: 1;
    letter-spacing: 0.01em;
    color: #fff;
    font-family: "Roboto", sans-serif;
}

/* #endregion contact us resourse page */



/* #region details */

.question {}

.question-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    text-align: center;
}

.question-descr {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #22343d;
}

.question-list {}

details[open] svg {
    transform: rotate(180deg);
}

summary {
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

summary::-webkit-details-marker {
    display: none;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

/* Значок "+" за замовчуванням */
.icon.plus {
    display: block;
}

/* Значок "-" прихований за замовчуванням */
.icon.minus {
    display: none;
}

/* Показуємо "-" і приховуємо "+" при відкритті меню */
details[open] .icon.plus {
    display: none;
}

details[open] .icon.minus {
    display: block;
}

.question-list-item {
    border-bottom: 1px solid #e7e7e7;
    width: 920px;
    padding: 22px 0;


}

.questions-sum {
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 18px;
    color: #22343d;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: #02897A;
}



.questions-ans {
    color: #22343d;
}

.questions-item:not(:last-child) {
    margin-bottom: 22px;
}

.questions-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
}

.questions-descr {
    margin-bottom: 50px;
    font-size: 18px;
    color: #22343d;
    margin-bottom: 50px;
}

details ul li:hover {
    background-color: #02897a;
}

/* #endregion details*/